<head>
    <title>Login Logout</title>
    <link rel="stylesheet" href="/styleejs.css">
    <script type="text/javascript" src="/scriptejs.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
       
    </style>
</head>