<!doctype html>
<html lang="us">
	<%- include('head.ejs'); %>
<script>
	
</script>	
<body>
	<%- include('header.ejs'); %>

<article id="logoutinfo">
<p> Ai fost logat cu numele: <%= nume %></p>
<p><button type="button" id="buton"> Logout </button> </p>

</article>

 

<%- include('footer.ejs'); %>

</body>
</html>
